<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Disabled</key>
    <false/>
    <key>Label</key>
    <string>strongbox</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/strongbox/bin/strongbox</string>
        <string>console</string>
    </array>
    <key>UserName</key>
    <string>strongbox</string>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
