[data-md-color-primary=blue-grey] .md-header {
    background: linear-gradient(172deg, #354655 0%, #1f2933 100%);
}

[data-md-color-primary=blue-grey] .md-tabs {
    background-color: hsla(208, 24%, 18%, 1);
}


body > .md-container {
    background: hsla(208, 23%, 23%, 1);
    color: rgba(255, 255, 255, 0.9);
}

.md-typeset p {
    text-align: justify;
}

.md-typeset .admonition.hint,
.md-typeset .admonition.important,
.md-typeset .admonition.tip,
.md-typeset details.hint,
.md-typeset details.important,
.md-typeset details.tip {
    border-top-color: #00bfa5;
}

.md-typeset .admonition.warning > .admonition-title {
    background-color: hsl(59, 22%, 29%) !important
}

.md-typeset {
    /* break extra long headers */
    overflow-wrap: break-word;
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
    color: white;
    font-weight: 300;
}

.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
    margin: 2rem 0 0.4rem;
}

.md-typeset h1 {
    margin: 0 0 0.4rem;
}

.md-typeset h2:first-child,
.md-typeset h3:first-child,
.md-typeset h4:first-child,
.md-typeset h5:first-child,
.md-typeset h6:first-child {
    margin: 0.8rem 0 0.4rem;
}

.md-typeset h1 + h2,
.md-typeset h1 + h3,
.md-typeset h1 + h4,
.md-typeset h1 + h5,
.md-typeset h1 + h6,
.md-typeset h2 + h2,
.md-typeset h2 + h3,
.md-typeset h2 + h4,
.md-typeset h2 + h5,
.md-typeset h2 + h6,
.md-typeset h3 + h3,
.md-typeset h3 + h4,
.md-typeset h3 + h5,
.md-typeset h3 + h6,
.md-typeset h4 + h4,
.md-typeset h4 + h4,
.md-typeset h4 + h5,
.md-typeset h5 + h5,
.md-typeset h5 + h6,
.md-typeset h6 + h6 {
    margin: 0.8rem 0 0.4rem !important;
}

.md-typeset h1 {
    font-size: 1.8rem;
}

.md-typeset h2 {
    font-size: 1.6rem;
}

.md-typeset h3 {
    font-size: 1.34rem;
}

.md-typeset h4 {
    font-size: 1.22rem;
}

.md-typeset h5 {
    font-size: 1.18rem;
}

.md-typeset h6 {
    font-size: 1.1rem;
}

[data-md-color-primary=blue-grey] .md-typeset a {
    color: rgba(52, 180, 251, 1);
}

[data-md-color-accent=indigo] .md-typeset a:active,
[data-md-color-accent=indigo] .md-typeset a:hover {
    color: hsla(199, 18%, 85%, 1);
    text-decoration: underline;
}

.md-typeset .task-list-control [type=checkbox]:checked + .task-list-indicator:before {
    color: hsl(200, 86%, 57%);
}

.md-typeset .task-list-control .task-list-indicator:before {
    background-color: rgba(255, 255, 255, 0.26);
    color: hsla(200, 86%, 57%, 0.35);
}

.md-typeset code, .md-typeset pre {
    /*background-color: hsl(199, 19%, 39%);*/
    background-color: hsl(207, 24%, 18%);
    color: #f7f7f7;
}

.md-typeset .codehilitetable .linenos, .md-typeset .highlighttable .linenos {
    background-color: rgb(35, 47, 57);
}

.md-typeset .codehilitetable pre, .md-typeset .highlighttable pre {
    color: rgba(255, 255, 255, 0.26);
}

.md-typeset .codehilite code,
.md-typeset .codehilite pre,
.md-typeset .highlight code,
.md-typeset .highlight pre,
.md-typeset .tabbed-set,
.md-typeset .tabbed-content .codehilite {
    background-color: hsl(207, 24%, 18%);
}

.md-typeset .tabbed-set label {
    color: rgba(255, 255, 255, 0.9);
}

.md-typeset .footnote,
.md-typeset .footnote li:target{
    color: rgba(255, 255, 255, 0.6);
}

.md-typeset .footnote-ref:before {
    border-left: 0px;
    margin: 0px -2px 0px 0px;
}

.md-typeset .footnote-ref:hover {
    text-decoration: none !important;
}

.md-typeset .admonition.danger > .admonition-title,
.md-typeset .admonition.danger > summary,
.md-typeset .admonition.error > .admonition-title,
.md-typeset .admonition.error > summary,
.md-typeset details.danger > .admonition-title,
.md-typeset details.danger > summary,
.md-typeset details.error > .admonition-title,
.md-typeset details.error > summary {
    background-color: hsla(343, 100%, 31%, 0.3)
}

.md-typeset .admonition.danger, .md-typeset .admonition.error, .md-typeset details.danger, .md-typeset details.error {
    background-color: hsla(343, 100%, 31%, 0.3)
}

.md-typeset table:not([class]) {
    background-color: rgba(0,0,0,0.0);
    border: 1px solid rgba(0,0,0,0.3);
}

.md-typeset table:not([class]) th {
    background-color: rgba(0,0,0,0.3);
    vertical-align: middle;
}

.md-typeset table:not([class]) tr:hover {
    box-shadow: none;
}

.md-typeset table:not([class]) td {
    border-top: 0px !important;
}

.md-typeset .md-typeset__table {
    width: 100%;
}

.md-typeset .md-typeset__table table {
    display: table;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
}

@media only screen and (max-width: 76.1875em)
{
    .md-nav {
        background-color: transparent;
    }
}

.md-nav__link[data-md-state=blur] {
    color: #546e7a;
}

[data-md-color-accent=indigo] .md-nav__link:focus, [data-md-color-accent=indigo] .md-nav__link:hover {
    color: hsl(200, 86%, 57%);
}

[data-md-color-primary=blue-grey] .md-nav__link--active, [data-md-color-primary=blue-grey] .md-nav__link:active {
    color: hsla(199, 12%, 52%, 1);
}

footer .md-footer {
    -webkit-box-shadow: 2px 5px 32px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 2px 5px 32px rgba(0, 0, 0, 0.8);
    box-shadow: 2px 5px 32px rgba(0, 0, 0, 0.8);
}

footer .md-footer-nav, footer .md-footer-meta {
    background-color: hsla(208, 24%, 18%, 1);
}

.md-header .md-logo {
    display: none;
}

@media only screen and (max-width: 76.1875em)
{
    .md-nav--primary .md-nav__title~.md-nav__list {
        background: linear-gradient(172deg, #354655 0%, #1f2933 100%);
    }
    /* side nav */
    [data-md-color-primary=blue-grey] .md-nav--primary .md-nav__title--site,
    .md-nav--primary .md-nav__title
    {
        background: #1f2933 !important;
        color: white !important;
    }
    /* logo */
    .md-nav--primary .md-nav__title--site .md-nav__button {
        display: none !important;
    }

    .md-nav--primary .md-nav__title:before {
        color: white !important;
    }

}

div.admonition.tip + h1 {
    margin-top: 3.225rem;
}


.env details {
    overflow: hidden;
    padding: unset;
}

.md-typeset .env details > summary {
    margin: 0px;
}


html .md-typeset .env .admonition > :last-child,
html .md-typeset .env details > :last-child {
    margin-bottom: 0px;
}

.env .md-typeset__scrollwrap {
    margin: 0px;
}

.env details p {
    margin-left: 1.2rem;
}

.env .md-typeset__table {
    display: unset;
    margin-bottom: unset;
    padding: 0px;
}

.no-table-header th:empty {
    display: none;
}

.no-table-header .md-typeset__table table {
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.3);
}

.no-table-header .md-typeset__table td {
    border-top: .14rem solid rgba(0, 0, 0, .08);
}

.no-table-header .md-typeset__scrollwrap {
    overflow-x: unset;
}

/* grid styles ------------------------------------ */
@media (min-width: 800px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        /* Compensate for excess margin on outer gallery flex items */
        margin: -1rem -1rem;
    }

    .gallery-item {
        grid-column: span 2;
    }
}

@media (min-width: 600px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        /* Compensate for excess margin on outer gallery flex items */
        margin: -1rem -1rem;
    }

    .gallery-item {
        grid-column: span 3;
    }
}

.gallery {
    display: grid;
}

.gallery-item {
    /* Minimum width of 24rem and grow to fit available space */
    flex: 1 0 30rem;
    /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
    margin: 1rem;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hidden {
    display: none;
}
